In [ ]:
import sys
!{sys.executable} -m pip install seaborn

In [420]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import ExtraTreesClassifier
from sklearn import svm
from sklearn.linear_model import LogisticRegression

In [446]:
def read_file(path):
    df = pd.read_csv(path, header=None)
    #print(df.head())
    return df

In [447]:
X = read_file("../Data/train_features.csv")
X = X.drop(X.columns[[0]], axis=1) # delete first column as it is index
print(X.shape)
Y = read_file("../Data/train_label.csv")
Y = Y.drop(Y.columns[[0]], axis=1) # delete first column as it is index
Y = Y.iloc[1:] # delete first row as it is a header
#Y.head()
print(Y.shape)
# data = X
# data.head()
# data.insert(data.shape[1],data.shape[1]+1,Y)
# print(data.shape)
print(X.shape)
X.head()

(418, 100)
(418, 1)
(418, 100)

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,-2.144100e+08,6.156483e+06,-40009.082892,-106798.867900,-22075.865011,-131.213147,-42677.883959,-1345.726290,-2139.740820,1252.082560,...,-0.004107,-0.002644,0.000573,0.004455,0.000742,0.000251,0.010003,-0.002461,0.000007,-0.001208
1,8.887227e+08,-5.697653e+06,-324635.044684,-14581.236920,33604.433584,-6616.477948,-62974.019123,5014.299745,-5103.807233,2853.937468,...,0.004792,-0.005321,0.006356,0.020417,0.003568,0.003092,0.004354,0.000841,0.006413,-0.002123
2,-1.834045e+09,2.012896e+06,-57575.076362,-77453.550531,48550.957817,3423.537938,-22131.213006,462.895476,2560.000549,-2431.303783,...,-0.009077,0.004042,-0.002609,-0.008480,-0.002297,0.000568,-0.002650,0.001871,0.004263,-0.009482
3,-6.040876e+08,1.452041e+06,-123277.765525,-66751.057836,35449.159821,1439.544188,-13681.724960,-2333.485201,-1307.836187,580.551951,...,0.000050,-0.001723,-0.003022,-0.002693,0.001505,-0.000686,-0.002552,-0.003826,-0.005397,-0.003756
4,5.274843e+07,-4.289884e+06,-255502.310414,-31562.412055,49142.084861,358.703139,25320.387579,-5583.576500,-2432.435069,1759.132287,...,-0.005462,-0.004288,-0.000728,0.001797,0.002756,0.001359,0.004625,-0.002706,0.003057,-0.002346

Best Feature Selection try

In [437]:
# print(X.shape)

# # for i in range (0,X.shape[0]):
# #     for j in range (0,X.shape[1]):
# #         print(X[i][j])

# # headers = list(X.columns.values)
# # print(headers)


# # for i in range(0, len(headers)):
# #     print(X[headers[i]] > np.inf)
    
# X = X[~X.isin([np.nan, np.inf, -np.inf]).any(1)]
# print(X.shape)

# # Y = Y.iloc[1:]   # delete first row
# print("ASDASDA")
# model = ExtraTreesClassifier()
# model.fit(X,Y)

# print(model.feature_importances_) #use inbuilt class feature_importances of tree based classifiers

# remove_attb = []
# for i in range(0, len(model.feature_importances_)):
#     if model.feature_importances_[i] < 0.01:
#         print(i)
#         remove_attb.append(i)

# #plot graph of feature importances for better visualization
# feat_importances = pd.Series(model.feature_importances_, index=X.columns)
# feat_importances.nlargest(20).plot(kind='barh')

# plt.figure(figsize=(100,100))
# plt.show()

Remove attribute columns

In [438]:
#X.drop(X.columns[remove_attb],axis=1,inplace=True)

In [439]:
# corrmat = data.corr()
# top_corr_features = corrmat.index
# plt.figure(figsize=(40,10))
# g=sns.heatmap(data[top_corr_features].corr(),annot=True,cmap="RdYlGn", linewidths=.5)

In [448]:
print(X.shape)
decision_tree = DecisionTreeClassifier(random_state=0, max_depth=2)
decision_tree = decision_tree.fit(X, Y)

rf = RandomForestClassifier(n_estimators=20, max_depth=10,random_state=0)
rf.fit(X, Y)

neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X, Y)

clf = svm.SVC(gamma='scale')
clf.fit(X, Y)

lg = LogisticRegression(random_state=0, solver='lbfgs',multi_class='multinomial').fit(X, Y)

(418, 100)

/Users/rohit/anaconda3/envs/TensorFlow/lib/python3.6/site-packages/ipykernel_launcher.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

/Users/rohit/anaconda3/envs/TensorFlow/lib/python3.6/site-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':
/Users/rohit/anaconda3/envs/TensorFlow/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/rohit/anaconda3/envs/TensorFlow/lib/python3.6/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/Users/rohit/anaconda3/envs/TensorFlow/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

In [449]:
test_features = read_file("../Data/test_features.csv")
test_features = test_features.drop(test_features.columns[[0]], axis=1) # delete first column as it is index

test_features.head()

,1,2,3,4,5,6,7,8,9,10,...,91,92,93,94,95,96,97,98,99,100
0,3.416898e+09,4054676.536,-252450.03250,-100847.08150,-84226.769950,-2789.202430,25959.254480,-2138.156293,-473.283002,377.987093,...,0.001154,0.000332,-0.004467,-0.000462,0.003121,0.000984,-0.002703,-0.000530,0.001116,0.000645
1,-1.859921e+09,1542346.471,-68242.89424,-89904.82761,35125.985340,5281.124623,16073.596930,673.346299,2263.732901,-2194.959951,...,-0.002128,-0.003550,-0.003012,-0.003395,0.004203,-0.003477,0.001781,-0.001194,0.000347,0.002513
2,1.081837e+09,473628.413,-218316.18100,-64367.58507,2719.141154,-898.584840,57.132711,-1159.423790,-100.565041,-159.832926,...,-0.003028,-0.003099,0.001807,-0.001337,0.008331,0.000127,-0.002288,-0.001331,-0.002271,-0.005976
3,-2.390892e+09,1162612.811,-54710.04941,-111272.87860,19250.725400,4320.868341,-17590.704320,5402.338081,415.863494,-1307.166728,...,0.012192,-0.002181,0.001370,-0.005657,-0.007378,0.010141,-0.002769,-0.005809,-0.005960,0.002488
4,-2.352259e+09,2220852.839,-34999.07343,-110588.23910,23088.465530,7319.251972,37013.789750,2952.531231,1325.536047,-1795.579369,...,0.000615,0.001935,-0.003242,0.001353,0.000552,-0.002475,0.002135,0.002300,-0.000734,0.000476

In [450]:

#test_features.drop(test_features.columns[remove_attb],axis=1,inplace=True)
ans = decision_tree.predict(test_features)
ans1 = rf.predict(test_features)
ans2 = neigh.predict(test_features)
ans3 = clf.predict(test_features)
ans4 = lg.predict(test_features)
#print(ans)
#print(ans1)
print(ans4)

['0' '1' '0' '1' '1' '1' '1' '0' '1' '1' '1' '1' '1' '0' '0' '0' '0' '1'
 '1' '1' '0' '0' '1' '1' '1' '0' '1' '0' '1' '1' '1' '1' '1' '0' '0' '0'
 '0' '0' '1' '1' '0' '0' '0' '1' '0' '0' '0' '1' '1' '1' '1' '0' '1' '1'
 '1' '1' '0' '1' '0' '0' '0' '1' '1' '1' '1' '0' '1' '1' '1' '1' '1' '0'
 '1' '0' '1' '1' '1' '1' '1' '1' '1' '0' '1' '0' '1' '0' '1' '0' '1' '1'
 '1' '1' '0' '0' '1' '0' '0' '1' '1' '1' '0' '0' '1' '0' '1' '1' '0' '0'
 '0' '0' '0' '1' '0' '0' '1' '0' '0' '0' '1' '1' '1' '0' '0' '1' '1' '1'
 '0' '1' '0' '0' '0' '1' '0' '0' '1' '1' '1' '0' '1' '1' '1' '1' '1' '1'
 '0' '1' '1' '1' '1' '0' '1' '1' '1' '0' '1' '1' '1' '1' '1' '1' '1' '0'
 '0' '0' '1' '0' '0' '1' '0' '0' '0' '1' '1' '1' '1' '1' '1' '0' '0' '0'
 '0' '1' '0' '1' '1' '0' '1' '1' '0' '0' '1' '0' '1' '1' '1' '1' '1' '0'
 '1' '1' '1' '1' '1' '0' '1' '0' '1' '0' '1' '1' '0' '0' '1' '1' '0' '1'
 '1' '0' '1' '1' '1' '1' '1' '1' '0' '0' '0' '1' '1' '1' '1' '1' '0' '1'
 '1' '0' '1' '1' '0' '0' '0' '1' '1' '1' '0' '1' '0' '0' '1' '1' '0' '1'
 '1' '1' '0' '0' '1' '1' '1' '0' '0' '0' '1' '1' '0' '1' '0' '0' '0' '1'
 '0' '1' '1' '0' '1' '1' '0' '1' '0' '0' '1' '0' '0' '0' '0' '1' '1' '0'
 '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '1' '0' '0' '1' '1' '1' '0' '0'
 '0' '0' '0' '0' '0' '1' '0' '1' '1' '1' '1' '1' '1' '1' '0' '0' '0' '1'
 '1' '1' '0' '1' '0' '0' '1' '1' '1' '1' '0' '1' '0' '0' '0' '0' '0' '0'
 '0' '1' '1' '1' '0' '0' '0' '1' '0' '1' '0' '1' '0' '1' '1' '1' '1' '0'
 '1' '0' '0' '0' '0' '1' '1' '1' '1' '0' '0' '0' '0' '0' '1' '1' '1' '1']

In [451]:
boost = []

for i in range(0, len(ans)):
    ones = 0
    zeros = 0
    if int(ans[i]) == 1:
        ones += 1
    else:
        zeros = 1
    if int(ans1[i]) == 1:
        ones += 1
    else:
        zeros = 1   
    if int(ans2[i]) == 1:
        ones += 1
    else:
        zeros = 1
    if int(ans3[i]) == 1:
        ones += 1
    else:
        zeros = 1  
    if int(ans4[i]) == 1:
        ones += 1
    else:
        zeros = 1      
    if ones >= zeros:
        boost.append(1)
    else:
        boost.append(0)
print(boost)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [452]:
df = pd.DataFrame(boost, columns = ['label']) 
df.insert(0, 'id', range(418, 418 + len(df)))
df.head()

    id label
0  418     1
1  419     1
2  420     1
3  421     1
4  422     1

In [445]:
df.to_csv("sampleSubmission.csv",mode = 'w', index=False)